<template>
    <div class="modal-content fm-modal-properties">
        <div class="modal-header">
            <h5 class="modal-title">{{ lang.modal.description.title }}</h5>
            <button type="button" class="close" aria-label="Close" v-on:click="hideModal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <textarea
                    rows="5"
                    class="form-control"
                    v-focus
                    v-model="description"
                ></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info"
                v-on:click="setDescription">{{ lang.btn.submit }}
            </button>
            <button class="btn btn-light" v-on:click="hideModal">{{ lang.btn.cancel }}</button>
        </div>
    </div>
</template>

<script>
import modal from '../mixins/modal';
import translate from '../../../mixins/translate';
import helper from '../../../mixins/helper';

export default {
    name: 'Description',
    mixins: [modal, translate, helper],
    data() {
        return {
            description: '',
            folderPath: ''
        };
    },
    created() {
        this.getFolderDescriptionByFolderPath();
    },
    methods: {
        getFolderPath() {
            return this.selectedItem.path
        },

        setDescription() {
            let descriptionValue = this.description;
            descriptionValue = descriptionValue.trim();
            // do not make a request if description is empty
            if (!descriptionValue) {
                this.hideModal()
            } else {
                axios
                    .post(this.setFolderDescriptionUrl, {
                        folder_path: this.getFolderPath(),
                        folder_description: descriptionValue
                    })
                    .then((response) => {
                        this.hideModal()
                    });
            }
        },

        getFolderDescriptionByFolderPath() {
            axios
                .post(this.getFolderDescriptionUrl, {
                    folder_path: this.getFolderPath()
                })
                .then(response => (this.description = response.data.data.folder_description));
        }
    },
    computed: {
        /**
         * Selected disk
         * @returns {*}
         */
        selectedDisk() {
            return this.$store.getters['fm/selectedDisk'];
        },

        /**
         * Selected file
         * @returns {*}
         */
        selectedItem() {
            return this.$store.getters['fm/selectedItems'][0];
        },

        getFolderDescriptionUrl() {
            return this.$store.getters['fm/settings/getFolderDescriptionUrl']
        },

        setFolderDescriptionUrl() {
            return this.$store.getters['fm/settings/setFolderDescriptionUrl']
        }
    },
};
</script>

<style lang="scss">
.fm-modal-properties .modal-body{
    .row {
        margin-bottom: 0.3rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;

        .fa-copy {
            padding-top: 0.2rem;
            display: none;
            cursor: pointer;
        }

        &:hover {
            background-color: #f8f9fa;

            & .fa-copy {
                display: block;
            }
        }
    }

    .col-2 {
        font-weight: bold;
    }

    .col-9 {
        word-wrap: break-word;
    }
}
</style>
